.container{
	display: flex;
	flex-grow: 1;
	
	align-items: center;
	justify-content: center;
}

.board{
	display: flex;
	flex-direction: column;
	width: calc(100vh - 60px - 30px);
	height: calc(100vh - 60px - 30px);
	max-width: calc(100vw - 30px);
	max-height: calc(100vw - 30px);
	margin: 15px;

	border-radius: 2.5%;

	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;
}

.row{
	display: flex;
	justify-content: stretch;
	flex-direction: row;
	flex-grow: 1;
}
