.piece{
	display: flex;
	position: relative;
	height: 75%;
	width: 75%;
	top: 0px;
	left: 0px;

	border-radius: 50%;
	box-shadow: 3px 3px 2px #383838;
	transition: top 0.05s, left 0.05s, box-shadow 0.05s;

	justify-content: center;
	align-items: center;
}

.black{
	background-color: gray;
}

.white{
	background-color: #eeeeee;
}

.inside{
	display: flex;
	width: 70%;
	height: 70%;

	border-radius: 50%;

	align-items: center;
	justify-content: center;
}

.black > .inside{
	background-color: #6a6a6a;
	box-shadow: inset 2px 2px 1px #4a4a4a;
}

.white > .inside {
	background-color: #cecece;
	box-shadow: inset 2px 2px 1px #9f9f9f;
}

.king {
	width: 100%;
	height: 100%;
	background: url("../../images/crown.svg") no-repeat center;
	background-size: 70%;
}

.black > .inside > .king {
	filter: invert(60%);
}

.white > .inside > .king {
	filter: invert(100%);
}

.selected {
	top: -3px;
	left: -3px;
	box-shadow: 6px 6px 2px #383838;
}
