.tile{
	display: flex;
	flex-grow: 1;
	color: black;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	transition: background-color 0.05s;
}

.white{
	background-color: #ffd27b;
}

.black{
	background-color: #986c39;
}

.selectable:hover{
	background-color: #9dd0ad;
}

.selected{
	background-color: #89b396 !important;
}
