.tile {
	display: flex;
	position: relative;
	flex-grow: 1;

	transition: background-color 0.08s;

	align-items: center;
	justify-content: center;
	color: black;
	font-size: 18px;
}

.white {
	background-color: #ffd27b;
}

.black {
	background-color: #986c39;
}

.selected {
	background-color: #89b396 !important;
}

.previous{
	background-color: #89b396;
}

.selectable:hover, .destination:hover{
	background-color: #9dd0ad;
}

.destinationDot{
	position: absolute;
	width: 0%;
	height: 0%;

	border-radius: 40%;
	background-color: #89b396;
	transition: width 0.08s, height 0.08s;
}

.destination > .destinationDot{
	width: 40%;
	height: 40%;
}

.forced{
	background-color: #d5aee7;
}

.forced:hover, .forcedDestination:hover{
	background-color: #b999c7;
}

.forced.selected{
	background-color: #a689b3 !important;
}

.forcedDestination > .destinationDot{
	background-color: #a689b3;
}
