.container {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.form {
	display: flex;
	min-height: 50px;
	width: min(300px, 100vw);
	margin: 20px;
	padding: 15px;

	background-color: #313131;
	border-radius: 5px;

	flex-direction: column;
	align-items: center;
	color: white !important;
}

.title {
	margin-bottom: 10px;
	text-align: center;
	font-size: 24px;
	font-weight: initial;
}

.button {
	height: 36px;
	width: 150px;
	margin-top: 10px;
	border: none;

	background-color: #1e1e1e;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	color: white;
}

.button:hover {
	border: 2px solid #565656;
}
