.container {
	display: flex;
	flex-grow: 1;

	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.modes{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-grow: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mode{
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px;

	display: flex;
	flex-direction: column;
	height: 250px;
	width: 250px;

	background-color: #313131;
	border: 2px solid #313131;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #111111;
	transition: border 0.08s, box-shadow 0.08s, top 0.08s, left 0.08s;

	color: white !important;
}

.mode:hover{
	top: -8px;
	left: -8px;
	border: 2px solid #565656;
	box-shadow: 13px 13px 5px #111111;
}

.mode > span{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

.mode > div{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.mode > div > img{
	filter: invert(93%);
}

.box{
	display: flex;
	width: min(400px, 100vw);
	margin: 20px;
	padding: 15px;

	background-color: #313131;
	border-radius: 5px;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white !important;
}

.box > form{
	display: flex;
	width: 100%;

	flex-direction: column;
	align-items: center;
}

.title {
	margin-bottom: 10px;
	text-align: center;
	font-size: 24px;
	font-weight: initial;
}


.inputGroup{
	background-color: #202020;
	border: 2px solid #202020;
	transition: border 0.08s;
	border-radius: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.inputGroup:hover{
	border: 2px solid #565656;
}

.inputGroup > *{
	padding: 15px;
	border: none;
	font-size: 18px;
}

.inputGroup > *:nth-child(1){
	width: 30%;
	background-color: #191919;
}

.inputGroup > *:nth-child(2){
	width: 70%;
	background-color: #202020;
	outline: none !important;
	color: white;
}

.inputGroup > select > option{
	background-color: #202020;
	color: white;
}

.codeLabel{
	font-size: 18px;
	margin-top: 10px;
}

.codeLabel.invalid{
	color: red;
}

.codeInput{
	width: 100%;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;

	background-color: #1e1e1e;
	border: 2px solid #1e1e1e;
	border-radius: 5px;
	transition: border 0.08s, color 0.08s;

	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	outline: none !important;
	cursor: text;
}

.codeInput:focus, .codeInput:hover{
	border: 2px solid #565656;
}

.codeInput.invalid{
	border: 2px solid #ff0000 !important;
	color: red;
}

.codeInput:disabled{
	cursor: not-allowed;
	user-select: none;
	color: #a2a2a2;
	border: 2px solid #1e1e1e;
}

.loader{
	margin-top: 13px;
}

.button {
	height: 36px;
	width: 150px;
	margin-top: 10px;
	margin-bottom: -5px;
	border: none;

	background-color: #1e1e1e;
	border: 2px solid #1e1e1e;
	border-radius: 5px;
	cursor: pointer;
	transition: border 0.08s;

	font-size: 17px;
	color: white;
}

.button:hover {
	border: 2px solid #565656;
}
