.container {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 500;
	
	justify-content: center;
	align-items: center;
}

.messageBox {
	display: flex;
	min-height: 50px;
	margin: 20px;
	padding: 15px;

	background-color: #313131;
	border-radius: 5px;

	flex-direction: column;
	align-items: center;
	color: white !important;
}

.title {
	text-align: center;
	font-size: 24px;
	font-weight: initial;
}

.message {
	margin-top: 10px;
	font-size: 20px;
}

.loader {
	margin-top: 10px;
}

.button {
	height: 36px;
	width: 150px;
	margin-top: 15px;
	
	background-color: #1e1e1e;
	border: 2px solid #1e1e1e;
	border-radius: 5px;
	cursor: pointer;
	transition: border 0.08s;

	color: white;
	font-size: 17px;
}

.button:hover {
	border: 2px solid #565656;
}
