.container{
	overflow: visible;
	background-color: #3b3b3b;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	color: #ffffff;
}

.left{
	margin-left: 20px;
	margin-right: auto;
}

.right{
	margin-left: auto;
	margin-right: 20px;
}

@media(min-width: 700px){
	.left{
		margin-left: 40px;
	}
	
	.right{
		margin-right: 40px;
	}
}

.githubSvg{
	filter: invert(93%) sepia(29%) saturate(0%) hue-rotate(132deg) brightness(92%) contrast(78%);
	box-sizing: border-box;
	vertical-align: middle;
}

.githubSvg:hover{
	filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(227deg) brightness(106%) contrast(107%);
}