.container {
	display: flex;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #313131;
	
	align-items: center;
	color: #ffffff;
}

.left {
	margin-left: 20px;
	margin-right: auto;
}

.right {
	margin-left: auto;
	margin-right: 20px;
}

@media (min-width: 700px) {
	.left {
		margin-left: 40px;
	}
	
	.right {
		margin-right: 40px;
	}
}

.github {
	height: 32px;
	width: 32px;
	
	filter: invert(80%);
	background: url("../../images/github.svg") center no-repeat;
	background-size: 100%;
}

.github:hover {
	filter: invert(100%);
}
