.container{
	overflow: visible;
	background-color: #3b3b3b;
}

@media(min-width: 700px){
	.container{
		padding-left: 40px;
		padding-right: 40px;
	}
}

.bar{
	display: flex;
}

.left{
	display: flex;
	flex-direction: row;
	float: left;
    width: 100%;
	margin-left: 20px;
}

.right{
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-right: 20px;
}

.brand {
	display: flex;
	align-items: center;
	flex-direction: row;
	text-decoration: none !important;
	margin-right: 30px;
	color: #d0d0d0;
	font-size: 30px;
	height: 60px;
}

.brand:hover{
	color: #ffffff;
}

.logo{
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.items{
	font-size: 16px;
	display: flex;
}

.items > *{
	height: 100%;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	text-decoration: none;
	color: #d0d0d0;
	white-space: nowrap;
	cursor: pointer;
}

.items > *:hover{
	color: #ffffff;
	background-color: #535353;
}

.itemsColumn{
	flex-direction: column;
	align-items: unset !important;
}

.itemsColumn > *{
	height: 50px;
	width: unset;
	padding-left: 20px;
	padding-right: 0px;
}

.expandButton{
	border: 0px;
	background-color: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #d0d0d0;
	height: 60px !important;
	padding: 0px;
	margin-left: 20px;
}
